.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

.page-wrapper {
  max-width: 100% !important;
}

/**
 * @file
 * Grid system definition for the content wide layout.
 */

.layout--content-medium,
.layout--pass--content-medium > * {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 2 / 18 !important;
  width: 100%;
}

@media (min-width: 43.75rem) {

  .layout--content-medium,
  .layout--pass--content-medium > * {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 18 !important;
  }
}

@media (min-width: 62.5rem) {

  .layout--content-medium,
  .layout--pass--content-medium > * {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 2 / 18 !important;
  }
}

/*
  If .layout--content-medium is nested within itself, or an element that's inheriting the
  layout--content-medium styles from its parent region, go full width within its
  parent .grid-full.
*/

@media (min-width: 43.75rem) {

  .layout--pass--content-medium > * .layout--content-medium,
  .layout--content-medium .layout--content-medium,
  .layout--pass--content-medium > * .layout--pass--content-medium > *,
  .layout--content-medium .layout--pass--content-medium > * {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 2 / 18 !important;
  }
}

@media (min-width: 62.5rem) {

  .layout--pass--content-medium > * .layout--content-medium,
  .layout--content-medium .layout--content-medium,
  .layout--pass--content-medium > * .layout--pass--content-medium > *,
  .layout--content-medium .layout--pass--content-medium > * {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 2 / 18 !important;
  }
}

.views-field-field-oss-publiccode-yml-logo{
  min-width: 150px !important;
}

.wide-image {
  margin-left: 0 !important;
}
